pillow
jax==0.4.3
dm-haiku
tensorflow_probability==0.15.0
dm-sonnet
protobuf<=3.20
typing-extensions
bsuite
rlds
optax
flax
atari-py
rlax
dm-launchpad==0.5.2
pygame==2.1.0
trfl
gym[atari]
numpy<2
dm-reverb==0.7.2
dm-tree
tensorflow==2.8.0
tensorflow_datasets==4.6.0
gym==0.25.0
dm-env
chex
jaxlib @ https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.3+cuda11.cudnn82-cp310-cp310-manylinux2014_x86_64.whl
absl-py
dm-control
