absl-py
chex
tensorflow_datasets==4.6.0
flax
dm-tree
dm-env
dm-control
pillow
gym==0.25.0
gym[atari]
tensorflow_probability==0.15.0
rlax
dm-sonnet
dm-haiku
numpy
typing-extensions
optax
bsuite
pygame==2.1.0
tensorflow==2.8.0
atari-py
trfl
dm-reverb==0.7.2
dm-launchpad==0.5.2
rlds
jax==0.4.3
jaxlib==0.4.30
